[submodule "gazebo_ros_pkgs"]
	path = gazebo_ros_pkgs
	url = https://github.com/ros-simulation/gazebo_ros_pkgs.git
[submodule "jackal_simulator"]
	path = jackal_simulator
	url = https://github.com/jackal/jackal_simulator.git
[submodule "jackal"]
	path = jackal
	url = https://github.com/jackal/jackal.git
[submodule "driver_common"]
	path = driver_common
	url = https://github.com/ros-drivers/driver_common.git
